#alert-box {
  margin: 0 auto;
  min-width: 40%;
  max-width: 20vw;
}

.alert {
  height: 8vw;
  min-height: 80px;
  max-height: 300px;
  text-align: center;
  background-color: #e3d3ce;
  margin: inherit;
  margin-bottom: 1rem;
  padding: .4rem;
  color: black;
  align-items: center;
  justify-content: space-evenly;
}

.icon {
  margin: 0 1rem;
}

.alert-text {
  display: inline-block;
  font-size:calc(16px + 0.8vw);
  font-weight: 500;
  padding: 0.4rem 2rem;
}

.alert-close {
  position: absolute;
  right: -1vw;
  padding: .75em 1.75em;
  background-color: transparent;
  color: rgb(19, 51, 85);
  border: none;
  outline: none;
}

.closed {
  display: none;
}