#alert-container {
  margin: 0 auto;
  width: 50%;
}

.alert {
  background-color: #e3d3ce;
  margin: inherit;
  margin-bottom: 1rem;
  padding: .5rem;
  color: black;
}

.icon {
  margin: 0 1rem;
}

.text {
  display: inline-block;
  font-size: 1.125rem;
}

.alert-close {
  float: right;
  padding: .75rem 1.75rem;
  background-color: transparent;
  color: rgb(44, 96, 192);
  border: 0;
  cursor: pointer;
}

.closed {
  display: none;
}