#feed-container {
  align-items: center;
  width: 90%;
  margin: inherit;
}

.column.feed-card {
  background-color: rgb(254, 255, 224);
  color: #37496a;
  padding: 20px;
  margin: 100px auto 0;
  width: 90%;
  min-width: 400px;
  max-width: 1600px;
  min-height: 320px;
  border: 4px solid rgb(28, 26, 32);
  align-content: space-between;
  justify-content: space-between;
}

.feed-card:hover {
  box-shadow: 0.5em 0.5em 0em 0.05em rgb(81, 89, 121);
}

.user-info {
  justify-content: space-between;
  align-items: center;
}

.user-avatar {
  align-items: center;
  justify-content: space-evenly;
}

.tweet-content {
  min-height: 70px;
  border: 0;
  border-bottom: 4px solid rgb(49, 60, 72);
  font-weight: 600;
  padding: 1em 0.6em;
  font-size:calc(18px + 0.5vw);
  word-break: break-word;
}

span.username {
  font-size: 2rem;
  margin-left: 0.6em;
}

.handle {
  color: rgb(140, 181, 193);
  cursor: pointer;
}

.flex.footer {
  justify-content: space-between;
}

.social {
  margin: 0 0.2em;
  color: #3b5f9d;
  cursor: pointer;
}

.timestamp {
  font-size: 1rem;
  font-weight: 600;
  justify-self: center;
}

.social:hover {
  color: #eca766;
}