#feed-container {
  align-items: center;
  width: 90%;
  margin: inherit;
}

article.tweet {
  background-color: rgb(254, 255, 224);
  color: #37496a;
  padding: 1.2em;
  margin: 100px auto 0;
  width: 90%;
  min-width: 500px;
  max-width: 1600px;
  min-height: 320px;
  border: 4px solid rgb(28, 26, 32);
  align-content: space-between;
  justify-content: space-between;
}

article.tweet:hover {
  box-shadow: 0.5em 0.5em 0em 0.05em rgb(81, 89, 121);
}

article.tweet > header {
  justify-content: space-between;
  align-items: center;
}

/* Header left box */
article.tweet > header > span {
  align-items: center;
  justify-content: space-evenly;
}

/* username */
article.tweet > header > span > span {
  font-size: 2rem;
  margin-left: 0.6em;
}

/* handle */
article.tweet > header > span:nth-child(2) {
  color: rgb(140, 181, 193);
  cursor: pointer;
}

/* Tweet content */
article.tweet > p {
  min-height: 70px;
  border: 0;
  border-bottom: 4px solid rgb(49, 60, 72);
  font-weight: 600;
  padding: 1em 0.6em;
  font-size:calc(18px + 0.5vw);
  word-break: break-word;
}

article.tweet > footer  {
  justify-content: space-between;
  padding: 0 0.6em 1.2em;
}

/* time ago */
article.tweet > footer > span:first-child {
  font-size: 1rem;
  font-weight: 600;
  justify-self: center;
}

/* socials */
article.tweet > footer > span:nth-child(2) {
  display: flex;
  justify-content: space-between;
  min-width: 4em;
  margin: 0 0.2em;
  color: #3b5f9d;
  cursor: pointer;
}

article.tweet > footer > span:nth-child(2) > i:hover {
  color: #eca766;
}