.flex.header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  padding: 0.6em;
  background-color: #e3a30f;
  background-image: url(/images/gradient-squares.png);
  color: #353d4e;
}

#profile-pic {
  max-width: 220px;
  z-index: 5;
}