/*
http://www.paulirish.com/2012/box-sizing-border-box-ftw/
https://css-tricks.com/international-box-sizing-awareness-day/
*/
html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *:before, *:after {
  position: relative;
  box-sizing: inherit;
}

body {
  top: 120px;
  background-color: #192331;
  color: #f4f1ec;
  font-size: 20px;
}

/* Global effects */
.flex {
  display: flex;
}

.bungee {
  font-family: Bungee, sans-serif;
}

.text-red {
  color: rgb(224, 32, 64);
}

.rounded {
  border-radius: 8px;
}

.rounded-bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


/* Main layout */
main {
  height: 3000px; /* to test scrolling */
  width: 90vw;
  margin: 0 auto;
  padding: 80px 0;
}

.main-container {
  width: 90%;
  margin: 50px auto;
}

#tweet-button {
  background-color: rgb(33, 86, 115);
  padding: 0.1em 0.5em;
}

.flex.main-card-container {
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: inherit;
  width: 100%;
}

.main-card {
  background-color: #263344;
  padding: 20px;
  margin: 20px;
  width: 40%;
  min-width: 400px;
}