/*
http://www.paulirish.com/2012/box-sizing-border-box-ftw/
https://css-tricks.com/international-box-sizing-awareness-day/
*/
html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #0b1212;
  color: #f4f1ec;
  font-size: 24px;
}

/* Custom Styling */
main {
  background-color: #192331;
  height: 4000px;
}
