/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/
https://css-tricks.com/international-box-sizing-awareness-day/ */
html {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

*, *:before, *:after {
  position: relative;
  box-sizing: inherit;
}

body {
  top: 120px;
  background-color: rgb(25, 29, 35);
  color: #f4f1ec;
  font-size: 20px;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

hr {
  display: block;
  border: none;
  outline: none;
  clear: both;
  height: .02em;
  background: #bebebe;
  width: 100%;
  margin: 1em 0;
  min-height: 1px;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

main {
  width: 90vw;
  margin: 0 auto;
  padding: 80px 0;
}

/* Global effects */
.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.bungee {
  font-family: Bungee;
}

.text-orange {
  color: #da801a;
}

.text-red {
  color: rgb(224, 32, 64);
}

.rounded {
  border-radius: 0.3em;
}

.rounded-bottom {
  border-bottom-left-radius: 0.7em;
  border-bottom-right-radius: 0.7em;
}

button {
  cursor: pointer;
}
