.flex.nav {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  padding: 1.5em;
  height: 120px;
  width: 100vw;
  background: #141e35;
  color: #fff9f4;
  z-index: 10;
  box-shadow: 0 10px 60px 30px rgba(21, 22, 22, 0.245);
}

#nav-logo {
  font-size: 2rem;
}

#nav-cta {
  font-family: sans-serif;
  font-size: 1.2rem;
  text-align: center;
}