.flex.nav {
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  padding: 2em;
  height: 120px;
  width: 100vw;
  color: #fff9f4;
  z-index: 10;
  background-color: transparent;
  box-shadow: none;
  margin: 0;
}

#nav-logo {
  font-size: 2rem;
}

#nav-cta {
  font-size: 1.4rem;
  text-align: center;
}

#nav-cta .fa-angles-down {
  animation: action 1s ease-in infinite;
}

@keyframes action {
  0%    { transform: translateY(0em); }
  100%  { transform: translateY(0.3em); }
}
