#compose-tweet {
  scroll-margin-top: 200px;
}

#text-area {
  background-color: transparent;
  color: white;
  outline: none;
  min-height: 100px;
  resize: vertical;
  border: 0;
  border-bottom: 3px solid #bebebe
}

#output-container {
  justify-content: space-between;
  margin-top: 20px;
}

#tweet-button {
  font-size: 1.2rem;
  background-color: rgb(28, 59, 88);
  padding: 0.5em 1em;
  color: white;
  border: 0;
}
