#text-area {
  padding: 0.5em;
  background-color: transparent;
  border: 0;
  color: white;
}

#output-container {
  justify-content: space-between;
}

#tweet-button {
  background-color: rgb(33, 86, 115);
  padding: 0.1em 0.5em;
}