#text-area {
  padding: 0.5em;
  background-color: transparent;
  border: 0;
  color: white;
}

#output-container {
  justify-content: space-between;
}

#tweet-button {
  font-size: 1.2rem;
  background-color: rgb(28, 59, 88);
  padding: 0.5em 1em;
  color: white;
  border: 0;
}